{% extends 'base.html' %}

{% block head %}
    <title>Add Alerts</title>
{% endblock %}

{% block body %}

<div class="card" style="width: 60rem;" >
<!-- Header for page -->
<h1 class="card-header">Add Alerts:</h1>
<div class="card-body">

<!-- flash an alert message if necessary-->
{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{category}} fade show " role="alert">
        {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endfor %}

</br>

<!-- Interface to add alert type 1 -->
<div class="card" >
<div class="card-body">
<h3>Add a target price alert:</h3>
<form action='/addAlertType1'  method = 'POST'>
    <p>Alert me when the price of
    <select name = "coin" class="form-select" aria-label="Default select example">
    <option selected>Select Cryptocurrency</option>
    <option value="BTC">BTC</option>
    <option value="ETH">ETH</option>
    <option value="LTC">LTC</option>
    <option value="DOGE">DOGE</option>
    </select>
    has reached $ <input type = "text" name = "price">.</p>
    <input class="btn btn-success" value = "Add Alert" type = "Submit">
    </br>
    </br>
</form>
</div>
</div>

</br>

<!-- Interface to add alert type 2 -->
<div class="card" >
<div class="card-body">
<h3>Add a percentage change alert:</h3>
<form action='/addAlertType2'  method = 'POST'>
    <p>Alert me when the price of
    <select name = "coin" class="form-select" aria-label="Default select example">
    <option selected>Select Cryptocurrency</option>
    <option value="BTC">BTC</option>
    <option value="ETH">ETH</option>
    <option value="LTC">LTC</option>
    <option value="DOGE">DOGE</option>
    </select>
    has
    <select name = "increasedOrDecreased" class="form-select" aria-label="Default select example">
    <option selected>increased/decreased</option>
    <option value="increased">increased</option>
    <option value="decreased">decreased</option>
    </select>
    by
    <input type = "text" name = "percentage">
    %.</p>
    <input class="btn btn-success" value = "Add Alert" type = "Submit">
    </br>
    </br>
</form>
</div>
</div>

</br>

<!-- Interface to add alert type 3 -->
<div class="card" >
<div class="card-body">
<h3>Add a historic price alert:</h3>
<form action='/addAlertType3'  method = 'POST'>
    <p>Alert me when the price of
    <select name = "coin" class="form-select" aria-label="Default select example">
    <option selected>Select Cryptocurrency</option>
    <option value="BTC">BTC</option>
    <option value="ETH">ETH</option>
    <option value="LTC">LTC</option>
    <option value="DOGE">DOGE</option>
    </select>
    reaches the
    <select name = "highestOrLowest" class="form-select" aria-label="Default select example">
    <option selected>highest/lowest</option>
    <option value="highest">highest</option>
    <option value="lowest">lowest</option>
    </select>
    price from
    <select name = "daysAgo" class="form-select" aria-label="Default select example">
    <option selected>Select Days Ago</option>
    {% for i in range(0, 31) %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
    </select>
    days ago.</p>
    <input class="btn btn-success" value = "Add Alert" type = "Submit">
    </br>
    </br>
</form>
</div>
</div>

</br>

<!-- Interface to add alert type 4 -->
<div class="card" >
<div class="card-body">
<h3>Add a stagnant price alert:</h3>
<form action='/addAlertType4'  method = 'POST'>
    <p>Alert me when the price of
    <select name = "coin" class="form-select" aria-label="Default select example">
    <option selected>Select Cryptocurrency</option>
    <option value="BTC">BTC</option>
    <option value="ETH">ETH</option>
    <option value="LTC">LTC</option>
    <option value="DOGE">DOGE</option>
    </select>
    remains stagnant for
    <input type = "text" name = "minutes">
        minutes.</p>
    <input class="btn btn-success" value = "Add Alert" type = "Submit">
    </br>
    </br>
</form>
</div>
</div>

</br>

<a href="/welcome" class="btn btn-primary">Back to Main Page</a>

</div>
</div>

{% endblock %}