{% extends 'base.html' %}

{% block head %}
<title>Registration</title>
{% endblock %}

{% block body %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
 </button>
    </div>
{% endfor %}
<h2>Register</h2>
</br>
<form method = "POST">
  {% if error %} <!-- If there is an error, the headings will turn red -->
    <p style="color: red"><strong>Email:</strong></p>
  {% else: %}
    <p><strong>Email:</strong></p>
  {% endif %}
  <input name = "DEmail">
  </br>
     </br>
  {% if error %} <!-- If there is an error, the headings will turn red -->
    <p style="color: red"><strong>Password:</strong></p>
  {% else: %}
    <p><strong>Password:</strong></p>
  {% endif %}
  <input name = "DPassword", type = "Password">
  </br>
  </br>
  <input class="btn btn-primary" value = "Register" type = "Submit">
</form>
</br>
<a class="btn btn-primary" href="/" role="button">Login</a>
{% endblock %}

